<br>
<div class="row">
<div class="col-md-2"></div>
<div class="col-xs-12 col-md-8">
<center><h2>Drive engagement.  Make gains.  Make friends.</h2></center>
<br>
<br>
<center><img style="width: 40%;" src="/welcome_bob.png"></center>
<br>
<br>
<a href="/auth/twitter" class="btn btn-twitter btn-lg btn-block">
<i class="fa fa-twitter fa-lg"></i> Sign in with Twitter
</a>
<a class="btn btn-instagram btn-lg btn-block" disabled>
<i class="fa fa-instagram fa-lg"></i> Sign in with Instagram
</a>
<a class="btn btn-facebook btn-lg btn-block" disabled>
<i class="fa fa-facebook-square fa-lg"></i> Sign in with Facebook
</a>
<a class="btn btn-pinterest btn-lg btn-block" disabled>
<i class="fa fa-pinterest fa-lg"></i> Sign in with Pinterest
</a>
<a class="btn btn-linkedin btn-lg btn-block" disabled>
<i class="fa fa-linkedin-square fa-lg"></i> Sign in with LinkedIn
</a>
<br>
<br>
</div>
</div>
