<html>
<div style="width: 500px; margin: 0 auto;">
<h1>MR_BOTS</h1>
<%= link_to "Sign in with Twitter", "/auth/twitter" %>  
<br>
<br>
<form name="tweet" action="/tweet" method="post">
  <label for="message">Enter text you'd like to tweet:</label>
  <input name="message" type="text">
  <input type="submit">
</form>
<br>
<br>
<img style="width: 500px;" src="/welcome_bob.png">
</div>
</html>
