body {
  background-color: #fafafa !important;

}

.mr_bots-brand {
 color: #333333 !important;
  text-decoration: none !important;

}


.btn-twitter {
  background-color: #55acee;
  border-color: #55acee;
  color: white !important;
}

.btn-twitter:hover {
  background-color: darken(#55acee, 10%);
  border-color: darken(#55acee, 10%);
  color: white !important;
}

.btn-instagram {
  background-color: #3f729b;
  border-color: #3f729b;
  color: white;
}

.btn-instagram:hover {
  background-color: darken(#3f729b, 10%);
  border-color: darken(#3f729b, 10%);
  color: white !important;
}

.btn-facebook {
  background-color: #3b5998;
  border-color: #3b5998;
  color: white;
}

.btn-facebook:hover {
  background-color: darken(#3b5998, 10%);
  border-color: darken(#3b5998, 10%);
  color: white !important;
}


.btn-pinterest {
  background-color: #cc2127;
  border-color: #cc2127;
  color: white;
}

.btn-pinterest:hover {
  background-color: darken(#cc2127, 10%);
  border-color: darken(#cc2127, 10%);
  color: white !important;
}

.btn-linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
  color: white;
}

.btn-linkedin:hover {
  background-color: darken(#0077b5, 10%);
  border-color: darken(#0077b5, 10%);
  color: white !important;
}
