$desaturate-amt: 20%;

body {
  background-color: #fafafa !important;
  background: url(image_path('background.png')) repeat;

}

.white-padded {
  background-color: white;
  padding: 4px 6px;
  border-radius: 2px;
}

.mr_bots-brand {
  color: #333333 !important;
  text-decoration: none !important;

}

.button_to {
  float: left;
  margin-right: 10px;
}

.img-circle {
  border: 3px solid #666;
  margin: 0px 10px;
  height: 22%;
  width: 22%;
  background-color: rgba(255, 255, 255, .5);
}


/* Social Buttons */


.btn-twitter {
  background-color: desaturate(#55acee, $desaturate-amt);
  border-color: #55acee;
  color: white !important;
}

.btn-twitter:hover {
  background-color: desaturate(darken(#55acee, 10%), $desaturate-amt);
  border-color: darken(#55acee, 10%);
  color: white !important;
}

.btn-instagram {
  background-color: desaturate(#3f729b, $desaturate-amt);
  border-color: #3f729b;
  color: white;
}

.btn-instagram:hover {
  background-color: darken(#3f729b, 10%);
  border-color: darken(#3f729b, 10%);
  color: white !important;
}

.btn-facebook {
  background-color: desaturate(#3b5998, $desaturate-amt);
  border-color: #3b5998;
  color: white;
}

.btn-facebook:hover {
  background-color: desaturate(darken(#3b5998, 10%), $desaturate-amt);
  border-color: desaturate(darken(#3b5998, 10%), $desaturate-amt);
  color: white !important;
}


.btn-pinterest {
  background-color: desaturate(#cc2127, $desaturate-amt);
  border-color: desaturate(#cc2127, $desaturate-amt);
  color: white;
}

.btn-pinterest:hover {
  background-color: desaturate(darken(#cc2127, 10%), $desaturate-amt);
  border-color: desaturate(darken(#cc2127, 10%), $desaturate-amt);
  color: white !important;
}

.btn-linkedin {
  background-color: desaturate(#0077b5, $desaturate-amt);
  border-color: desaturate(#0077b5, $desaturate-amt);
  color: white !important;
}

.btn-linkedin:hover {
  background-color: desaturate(darken(#0077b5, 10%), $desaturate-amt);
  border-color: desaturate(darken(#0077b5, 10%), $desaturate-amt);
  color: white !important;
}


/* Slider Styles */
.form-group .ui-slider {
  background-color: #eee;
}

.form-group .ui-slider .ui-slider-handle {
  background-color: #666;
  border-radius: 2px;
  width: 1.8em;
}

.tooltip-inner {
  font-size: 14px !important;
}

.footer p {
  margin-top: 25px !important;
}

.img-footer {
  bottom: 0;
  width: 75px; 
  height: 75px;
}
