body {
  //background-color: #fafafa !important;
  background: url('background.png') repeat;
}

.mr_bots-brand {
 color: #333333 !important;
  text-decoration: none !important;

}

.button_to {
  float: left;
  margin-right: 10px;
}

/* Social Buttons */

.btn-twitter {
  background-color: #605C5D;
  border-color: #605C5D;
  color: white !important;
}

.btn-twitter:hover {
  background-color: darken(#605C5D, 10%);
  border-color: darken(#605C5D, 10%);
  color: white !important;
}

.btn-instagram {
  background-color: #847F80;
  border-color: #847F80;
  color: white;
}

.btn-instagram:hover {
  background-color: darken(#847F80, 10%);
  border-color: darken(#847F80, 10%);
  color: white !important;
}

.btn-facebook {
  background-color: #B2ADAE;
  border-color: #B2ADAE;
  color: white;
}

.btn-facebook:hover {
  background-color: darken(#B2ADAE, 10%);
  border-color: darken(#B2ADAE, 10%);
  color: white !important;
}


.btn-pinterest {
  background-color: #D3CFD0;
  border-color: #D3CFD0;
  color: grey;
}

.btn-pinterest:hover {
  background-color: darken(#D3CFD0, 10%);
  border-color: darken(#D3CFD0, 10%);
  color: grey !important;
}

.btn-linkedin {
  background-color: #E6E3E3;
  border-color: #E6E3E3;
  color: grey;
}

.btn-linkedin:hover {
  background-color: darken(#E6E3E3, 10%);
  border-color: darken(#E6E3E3, 10%);
  color: grey !important;
}


/* Slider Styles */
.form-group .ui-slider {
  background-color: #eee;
}

.form-group .ui-slider .ui-slider-handle {
  background-color: #666;
  border-radius: 2px;
  width: 1.8em;
}

.tooltip-inner {

  font-size: 14px !important;

}
