<!DOCTYPE html>
<html>
<head>
  <title>MR_BOTS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= yield %>
  <div class="row">
    <div class="col-xs-12">
       <hr>
       <br>
       <p>&copy; 2015, Select Star LLC</p>
       <br>
    </div>
</div>
</div>
</body>
</html>
